@tailwind base;
@tailwind components;
@tailwind utilities;

.header-menu ul li {
    display: inline-block;
    margin: 0px 13px;
}

@media (max-width:768px) {
    .header-menu ul li {
        display: block;
        margin: 8px 0px;
    }

    .header-utilities {
        width: 100%;
    }
}

.banner-all-content {
    background-image: url(https://i.ibb.co/TgSvVZG/yellobg.jpg);
    width: 100%;


    background-repeat: no-repeat;
    background-size: cover;

}

.service-dis h3 {
    position: relative;
}

.service-dis h3::before {
    position: absolute;
    content: "";
    width: 20%;
    height: 3px;
    background-color: #EFD400;
    left: 0;
    bottom: -3px;
    border-radius: 10px;
}